@model DominicanaLimpia.Usuarios

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br />
        <br />
        <div class="col-md-14 mb-4">
            <div class="card">
                <div class="card-body">
                    <br /><br />
                    <h4>Creación de usuarios</h4>
                    <hr />
                    <br /><br />
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault01">Nombre completo</label>
                            <input type="text" name="Nombre_Completo" autocomplete="off" class="form-control" id="validationDefault01" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationDefaultUsername">Usuario</label>
                            <div class="input-group">
                                <input type="text" name="Usuario" autocomplete="off" onkeypress="return AvoidSpace(event)" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend21" required>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault02">Clave</label>
                            <input type="password" name="Clave" class="form-control" id="validationDefault03" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault02">Correo</label>
                            <input type="text" name="Correo" autocomplete="off" class="form-control" id="validationDefault02" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault04">Rol</label>
                            @Html.DropDownList("RolId", (IEnumerable<SelectListItem>)ViewBag.Accounts, null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault04">Responsable</label>
                            @Html.DropDownList("ResponsableId", (IEnumerable<SelectListItem>)ViewBag.Responsables, null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" id="MunicipioDiv">
                        Municipios
                        @Html.DropDownList("Municipios[]", (IEnumerable<SelectListItem>)ViewBag.Municipios, null, new { @name = "Municipios[]", @multiple = "multiple", @class = "form-control", @required = "true" })
                    </div>

                    <div class="text-right">
                        <button class="btn btn-success" type="submit">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

    }
</body>
</html>


<script type="text/javascript">

    function AvoidSpace(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;
    }

    document.getElementById("Municipios__").disabled = true;
    $("#Municipios__").select2();
    document.getElementById("ResponsableId").disabled = true;



     $("#ResponsableId").change(function () {
       var ResponsableId = $("#ResponsableId option:selected").val();
        $.ajax({
            url: '@Url.Action("ObtenerMunicipiosporresponsables", "Usuarios")',
            data: {
                ResponsableId: ResponsableId
            },
            type: 'post',
        }).done(function (_a) {

            $("#Municipios__").html(_a);
            });
    });


    $("#RolId").change(function () {
        if ($("#RolId").val() == 2 ) {
            document.getElementById("Municipios__").disabled = false;
            document.getElementById("ResponsableId").disabled = false;

        } else {
            document.getElementById("Municipios__").disabled = true;
            document.getElementById("ResponsableId").disabled = true;
        }

              if ($("#RolId").val() == 5) {
                  document.getElementById("Municipios__").disabled = false;

                     $.ajax({
            url: '@Url.Action("ObtenerMunicipiosporresponsables", "Usuarios")',
            data: {
                ResponsableId: "0"
            },
            type: 'post',
        }).done(function (_a) {
            $("#Municipios__").html(_a);
        });


            }

    });

</script> 