@model DominicanaLimpia.Formulario

@{
    int Contador = 0;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nombreR = Session["NombreResponsable"].ToString();
    int enumeracion = 1;
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/Content/JquerySteep/jquerysteep.css" rel="stylesheet" />
<script src="~/Content/JquerySteep/jquery.steps.js"></script>
<script src="~/Content/JquerySteep/jquery.steps.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>

@using (Html.BeginForm("Create", "Formulario", FormMethod.Post , new { id = "Formulario" }))
{

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <br /> <br />
    <div class="col-md-14 mb-4">
        <div class="card">
            <div class="well">
                <table class="table">
                    <thead>
                        <tr>
                            <th> <strong>Desde:</strong> <input type="text" class="form-control" name="DesdeFecha" id="DesdeFecha"></th>
                            <th> <strong>Hasta:</strong> <input type="text" class="form-control" name="HastaFecha" id="HastaFecha"></th>
                            <th><strong>Provincia:</strong>  @Html.DropDownList("ProvinciaId", (IEnumerable<SelectListItem>)ViewBag.Municipios, null, new { @class = "form-control" })   </th>
                        </tr>
                        @if (Convert.ToInt16(Session["RodId"]) == 2)
                        {
                            <tr>
                                <th> <h3> <strong>Responsable de territorio:</strong>  </h3> <h4> @Session["NombreResponsable"].ToString() </h4></th>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
            <br /><br /><br />
                        <div class="card-body" id="example-basic">
                            <h3>Objetivo 1</h3>
                            <section>
                                @foreach (var item in Model.Preguntas)
    {
        if (Contador < 12)
        {
                            <div class="form-group">
                                <div class="block" style="display: inline-block">
                                    <strong> @enumeracion - @item.Descripcion</strong>
                                    <input class="Text-@enumeracion" type="number" name="Valores[]" id="Valores[]" />

                                </div>
                                @if (enumeracion == 1)
    {
                            <div class="block" style="display: inline-block">
                                <br />
                                <strong>Escuela :</strong> @Html.DropDownList("EscuelaGrid", (IEnumerable<SelectListItem>)ViewBag.EscuelaGrid, null, new { @class = "js-example-placeholder-single js-states form-contro" })
                                <br />
                            </div>
}
                                <hr>


                            </div>
if (Contador == 11)
{
    Contador = 0;
    break;

}
enumeracion = enumeracion + 1;
}
Contador = Contador + 1;

}

                                @*Aqui va la tabla de las escuelas y contenido*@
                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <button id="btnAgregarBeneficiario" type="button" class="btn btn-file pull-right">Agregar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="box-body">
                        <table id="grvBeneficiarios" name="Beneficiarios" class="table table-bordered table-striped table-condensed" style="width:100%; height:100%">
                            <thead>
                                <tr style="background-color: #f59034; color:#fff">
                                    <th data-override="IdBeneficiarios" hidden>EscuelaId</th>
                                    <th data-override="id_correos_notificaciones">Escuela</th>
                                    <th data-override="id_correos_notificaciones">Pregunta 1</th>
                                    <th data-override="id_correos_notificaciones">Pregunta 2</th>
                                    <th data-override="id_correos_notificaciones">Pregunta 3</th>
                                    <th data-override="id_correos_notificaciones">Pregunta 4</th>
                                    <th data-override="id_correos_notificaciones">Pregunta 5</th>
                                    <th data-override="id_correos_notificaciones">Pregunta 6</th>
                                    <th data-override="id_correos_notificaciones">Pregunta 7</th>
                                    <th data-override="id_correos_notificaciones" hidden>Pregunta 4</th>
                                    <th data-override="id_correos_notificaciones" hidden>Pregunta 4</th>
                                    <th data-override="id_correos_notificaciones" hidden>Pregunta 4</th>
                                    <th data-override="id_correos_notificaciones" hidden>Pregunta 4</th>
                                    <th data-override="id_correos_notificaciones" hidden>Pregunta 4</th>

                                    <th style="width: 10px;"></th>
                                    <th style="width: 10px;"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>




                            </section>
                            <h3>Objetivo 2</h3>
                            <section>
                                @{
            enumeracion = enumeracion + 1;
                                }

                                @foreach (var item in Model.Preguntas)
        {

            if (Contador >= 12 && Contador < 15)
            {
                        <div class="form-group">
                            <div class="block">
                                <strong> @enumeracion -  @item.Descripcion</strong>
                                <input type="number" name="Valores[]" id="Valores[]" />

                                @if (enumeracion == 12)
        {
                        <br />

                        @Html.DropDownList("Escuelas13[]", (IEnumerable<SelectListItem>)ViewBag.Escuelas13, null, new { @name = "Escuelas13[]", @multiple = "multiple", @style = "width: 811px;", @class = "form-control", @required = "true" })

}
                                <hr>
                            </div>
                        </div>
if (Contador == 14)
{
    Contador = 0;
    break;

}
enumeracion = enumeracion + 1;
}
Contador = Contador + 1;

}
                            </section>

                            <h3>Objetivo 3</h3>
                            <section>
                                @{
            enumeracion = enumeracion + 1;
                                }

                                @foreach (var item in Model.Preguntas)
        {
            if (Contador >= 15 && Contador < 26)
            {
                        <div class="form-group">
                            <div class="block">
                                <strong>  @enumeracion - @item.Descripcion</strong>
                                <input type="number" name="Valores[]" id="Valores[]" />
                                <hr>
                            </div>
                        </div>
if (Contador == 25)
{
    Contador = 0;
    break;

}
enumeracion = enumeracion + 1;
}
Contador = Contador + 1;
}
                            </section>
                            <h3>Objetivo 4</h3>
                            <section>
                                @{
            enumeracion = enumeracion + 1;
                                }
                                @foreach (var item in Model.Preguntas)
        {
            if (Contador >= 26 && Contador < 32)
            {
                        <div class="form-group">
                            <div class="block">
                                <strong> @enumeracion - @item.Descripcion</strong>
                                <input type="number" name="Valores[]" id="Valores[]" />
                                <br />
                                <label for="validationDefault01">Dirección</label>
                                <textarea type="text" name="Nombre_Completo" autocomplete="off" class="form-control" id="">
                                    </textarea>

                                <hr>
                            </div>
                        </div>
if (Contador == 31)
{
    Contador = 0;
    break;  
}
enumeracion = enumeracion + 1;
}
Contador = Contador + 1;
}
                            </section>
                        </div>
            @*<div class="file-loading">
                <input id="input-23" name="input23[]" type="file" multiple>
            </div>*@
            <div class="form-group">
                <strong>Comentario</strong>
                <textarea class="form-control" name="Comentario" id="Comentario" rows="7"></textarea>
            </div>
        </div>
    </div>
</div>

}


<script type="text/javascript">
            $(document).ready(function() {
                //$("#input-23").fileinput({
                //    showUpload: false,
                //    layoutTemplates: {
                //        main1: "{preview}\n" +
                //            "<div class=\'input-group {class}\'>\n" +
                //            "   <div class=\'input-group-btn\ input-group-prepend'>\n" +
                //            "       {browse}\n" +
                //            "       {upload}\n" +
                //            "       {remove}\n" +
                //            "   </div>\n" +
                //            "   {caption}\n" +
                //            "</div>"
                //    }
                //});
            });




    $("#DesdeFecha").datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd/mm/yyyy'
    }).datepicker('update', new Date());

    $("#HastaFecha").datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd/mm/yyyy'
    }).datepicker('update', new Date());



    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true,
        onFinishing: function (event, currentIndex) {
           document.getElementById('Formulario').submit();
        }
    }).validate({
        errorPlacement: function errorPlacement(error, element) { element.before(error); },
        rules: {
            confirm: {
                equalTo: "#password-2"
            }
        }
        });





       //Agregar botonnes
    //$("body").on("click", "#btnAgregarBeneficiario", function (e) {

    $("#btnAgregarBeneficiario").click(function () {
    
        alert("fsdf");
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();

        var P1 = $('.Text-1').val(), P2 = $('.Text-2').val(), P3 = $('.Text-3').val(), P4 = $('.Text-4').val(), P5 = $('.Text-5').val(), 
            P6 = $('.Text-6').val(), P7 = $('.Text-7').val(), P8 = $('.Text-8').val(), P9 = $('.Text-9').val(), P10= $('.Text-10').val(), 
            P11 = $('.Text-11').val(), P12 = $('.Text-12').val(), 
            EscuelaText = $('#EscuelaGrid :selected').text(), idescuela = $('#EscuelaGrid :selected').val();

        if (P1 == "") {
            swal({ title: 'Error', text: "El Nombre es necesario", type: 'warning', confirmButtonText: 'Aceptar', showLoaderOnConfirm: false });
            return;
        }

     

        var secuenciaNueva = $('#grvBeneficiarios TBODY tr').length;


        var secuenciaNueva = $('#grvBeneficiarios TBODY tr').length + 1;
        var tBody = $("#grvBeneficiarios > TBODY")[0], row = tBody.insertRow(-1), cell = $(row.insertCell(-1));

        cell.html(idescuela).addClass("hidden");
        cell = $(row.insertCell(-1));


        cell.html(EscuelaText);
        cell = $(row.insertCell(-1));


        cell.html(P1);
        cell = $(row.insertCell(-1));

        cell.html(P2);
        cell = $(row.insertCell(-1));


        cell.html(P3);
        cell = $(row.insertCell(-1)); 


        cell.html(P4);
        cell = $(row.insertCell(-1));


        cell.html(P5);
        cell = $(row.insertCell(-1));

        cell.html(P6);
        cell = $(row.insertCell(-1));


        cell.html(P7);
        cell = $(row.insertCell(-1));

        cell.html(P8).addClass("hidden");
        cell = $(row.insertCell(-1));

        cell.html(P9).addClass("hidden");
        cell = $(row.insertCell(-1));

        cell.html(P10).addClass("hidden");
        cell = $(row.insertCell(-1));

        cell.html(P11).addClass("hidden");
        cell = $(row.insertCell(-1));

        cell.html(P12).addClass("hidden");
        cell = $(row.insertCell(-1));



        var btn = $("<button />");
        btn.attr("type", "button");
        btn.attr("class", "btn btn-default btn-xs")
        btn.attr("onclick", "EditarNotificacion(this);");
        btn.attr("data-original-title", "Editar");
        btn.attr("data-toggle", "tooltip");
        btn.attr("data-widget", "edit");
        btn.attr("title", "");
        btn.append("<i class='fa fa-pencil'></i>");
        cell.append(btn);
        cell = $(row.insertCell(-1));

        var btn2 = $("<button />");
        btn2.attr("type", "button");
        btn2.attr("class", "btn btn-default btn-xs")
        btn2.attr("onclick", "RemoverLinea(this);");
        btn2.attr("data-original-title", "Eliminar");
        btn2.attr("data-toggle", "tooltip");
        btn2.attr("data-widget", "remove");
        btn2.attr("title", "");
        btn2.append("<i class='fa fa-times'></i>");
        cell.append(btn2);
        LimpiarNotificacion();
    });



</script>


