@model IQueryable<DominicanaLimpia.FormularioM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DominicanalimpiaEntities2 db = new DominicanalimpiaEntities2();
}
<br />
<br />
<div >
    <div >
        <div >

            <h4> <strong>  Listado de formularios creados   </strong></h4>
            <hr />
            <p>
                @if (Session["RodId"].ToString() != "1" && Session["RodId"].ToString() != "4"  && Session["RodId"].ToString() != "5")
                {
            <div class="text-right">
                <input value="Crear formulario" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Formulario")'" />
            </div>
                }

            </p>
            <table class="table table-hover" id="dtBasicExample">
                <thead  class="blue lighten-4">
                    <tr>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Territorio
                        </th>
                        <th>
                            Fecha desde
                        </th>
                        <th>
                            Fecha Hasta
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            @{
                                var Nombreusuario = db.Usuarios.Where(x => x.UsuarioId == item.UsuarioId).Select(x => x.Nombre_Completo).FirstOrDefault();
                            }
                            @Nombreusuario
                        </td>

                        <td>
                            @{
                                var Minucipio = db.Municipios.Where(x => x.MunicipioId == item.ProvinciaId).Select(x => x.Provincia_Nombre).FirstOrDefault();
                            }
                            @Minucipio
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Desde)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hasta)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" title="Descargar" onclick="location.href='@Url.Action("VerFormulario", "Formulario", new { id = item.FormularioId}  )'"><i class="far fa-eye"></i></button>
                            @if (Session["RodId"].ToString() == "5")
                            {

                                if (item.Estatus.Trim() == "I")
                                {
                                    <button type="button" title="Aprobar" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("ValidarFormulario", "Formulario", new { id = item.FormularioId })'"><i class="fas fa-edit"></i></button>
                                }
                            }

                            @if (item.Estatus.Trim() == "I")
                            {
                            <button type="button" class="btn btn-green btn-sm" title="Editar" onclick="location.href='@Url.Action("", "", new { id = item.FormularioId}  )'"><i class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-red btn-sm" title="Eliminar" onclick="location.href='@Url.Action("DeleteConfirmed", "Formulario", new { id = item.FormularioId}  )'"><i class="far fa-trash-alt"></i></button>
                            }
                            

                        </td>
                    </tr>
}
                </tbody>
            </table>
        </div>
    </div>
</div>

